{
  "extends": ["@rocketseat/eslint-config/react"],
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/no-var-requires": "off",
    "react/no-unescaped-entities": "off",
    "@typescript-eslint/no-empty-interface": "off"
  }
}
